{% extends "layout2.html" %}
{% block nav2 %}
    <div>
        <div class="container d-flex align-items-center text-center">
            <h3>edit Customers list</h3>
            <div class="row ms-auto me-auto">

                <div class="col-lg-8">
                    {% for row in rows %}
            <form action="{{ url_for('editrec') }}" method="POST">
                <h3 style="color:blue">Customer ID: {{ row['rowid']}}</h3>
                <input type="hidden" name="rowid" value="{{ row['rowid'] }}">
                <br>
                <input type="text" placeholder="Name" name="name" value="{{ row['name'] }}"/><br>
    
                <br>
                <input type="text" placeholder="Email" name="email" value="{{row['email']}}"/><br>
    
                <br>
                <input type="text" placeholder="Telefon" name="telefon" value="{{ row['telefon'] }}"/><br>
    
                <br>
                <input type="text" placeholder="Note" name="note" value="{{ row['note'] }}"/><br>
    
                <input type="submit" value="Submit" /><br>
            </form>
            {% endfor %}
                </div>
            </div>
        </div>
    </div>

    
{% endblock nav2%}



